@(histories: Seq[domains.models.History])

@views.html.layout {

<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1 uk-text-center">
            <h1 class="uk-heading-large">戦歴</h1>
            <p class="uk-text-large">過去の戦歴</p>
        </div>
    </div>

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1 uk-push-1-1">
            <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed" style="background-color: rgba(255, 255, 255, 0.8);">
                <thead>
                    <tr>
                        <th>対戦日時</th>
                        <th>勝者</th>
                        <th>戦歴ID</th>
                    </tr>
                </thead>
                <tbody>
                    @for(h <- histories) {
                    <tr>
                        <td>@h.time</td>
                        <td>@h.winner</td>
                        <td>@h.id.value</td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

</div>

<div id="footer">
    <p id="github"><a href="https://github.com/oshiro-kazuma/syougi-web">github source</a></p>
</div>
}
