@(historyCount: Int)

@views.html.layout {
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-1-1 uk-text-center">
            <h1 class="uk-heading-large">ザ・将棋</h1>
            <p class="uk-text-large">将棋対戦ゲーム</p>
        </div>
    </div>

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-1 uk-push-1-1 uk-text-center">
            <div class="uk-thumbnail uk-overlay-hover uk-border-circle top-logo" style="padding: 2px">
                <img class="uk-border-circle" width="400" height="400" src="@routes.Assets.versioned("images/syougi.jpg")" alt="">
            </div>
        </div>
    </div>

    <div style="text-align: center; margin: 3em;">
        <h2>今までに @historyCount 回の対局がありました！</h2>
    </div>

    <div class="uk-grid" data-uk-grid-margin>
        <div class="uk-width-medium-1-4 uk-push-1-4 uk-text-center">
            <a href="battle" class="button">対局</a>
            <p>対局を開始する</p>
        </div>
        <div class="uk-width-medium-1-4 uk-push-1-4 uk-text-center">
            <a href="histories" class="button">戦歴</a>
            <p>過去の対局の履歴を閲覧</p>
        </div>
    </div>

</div>
}
